<md-dialog>
    <form ng-cloak> 
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Ler um Produto</h2>
            </div>
        </md-toolbar> 
        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input ng-model="name" disabled>
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Descricao</label>
                    <input ng-model="description" disabled>
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Preco</label>
                    <input ng-model="price" disabled>
                </md-input-container>
 
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>