<div layout="row" ng-controller="productsController" ng-cloak>
  <div flex="10"></div>
  <div flex="80" class='m-20px-0'>

    <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
    <div flex md-truncate>
    <h3 class="md-headline">Tela de Produtos</h3>
    </div>

    <md-button class="md-raised" ng-click="showCreateProductForm()">Criar</md-button>
            </div>
        </md-toolbar>

        <md-input-container class="md-block m-b-0px">
            <form ng-submit="searchProducts()">
            <label>Localizar produtos...</label>
                <input ng-model="product_search_keywords">
            </form>
                </md-input-container>

 
        <md-content flex>
            <md-list ng-init="readProducts()">
                <md-list-item class="md-3-line" ng-repeat="product in products">
 
                    <!-- informacoes produto-->
                    <div class="md-list-item-text">
                        <h3>{{product.name}}</h3>
                        <h4>{{product.description}}</h4>
                        <p>${{product.price}}</p>
                    </div>
 

                    <div class="md-secondary-container">
                        <md-button class="md-raised md-info" ng-click="readOneProduct(product.id)">Ler um Produto</md-button>

                        <md-button class="md-raised md-primary" ng-click="showUpdateProductForm(product.id)">Editar</md-button>

                        <md-button class="md-raised md-danger" ng-click="confirmDeleteProduct($event, product.id)">Deletar</md-button>

                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
 
    <div flex="10"></div>
</div> 