<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
      <h2>Atualizar Produtos</h2>
      </div>
      </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content"> 

                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input ng-model="name">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Descricao</label>
                    <input ng-model="description">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Preco</label>
                    <input ng-model="price">
                </md-input-container>
 
            </div>
        </md-dialog-content>
 

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button ng-click="updateProduct()" class="md-primary">Atualizar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>